*{
	margin:0;
	padding:0;
}

html{
	overflow:auto;
}

body{
	font-size:0.825em;
	color:#eee;
	background:url("img/bg.png") repeat-x #222222;
	font-family:Arial, Helvetica, sans-serif;
}

#carbonForm{
	background-color:#1C1C1C;
	border:1px solid #080808;
	margin:20px auto;
	padding:20px;
	width:500px;
	
	-moz-box-shadow:0 0 1px #444 inset;
	-webkit-box-shadow:0 0 1px #444 inset;
	box-shadow:0 0 1px #444 inset;
}

#carbonForm h1{
	font-family:Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
	font-size:40px;
	font-weight:normal;
	padding:0 0 30px 10px;
	text-align:left;
}

.fieldContainer{
	background-color:#1E1E1E;
	border:1px solid #0E0E0E;
	padding:30px 10px;
	-moz-box-shadow:0 0 20px #292929 inset;
	-webkit-box-shadow:0 0 20px #292929 inset;
	box-shadow:0 0 20px #292929 inset;
}

#carbonForm,.fieldContainer{
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}

.signupButton{
	text-align:center;
	padding:30px 0 10px;
}

#submit{
	/* The submit button */
	border:1px solid #f4f4f4;
	cursor:pointer;
	height:40px;
	text-indent:-9999px;
	text-transform:uppercase;
	width:110px;
	
	background:url("img/submit.png") no-repeat center center #d0ecfd;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

#submit.active{
	background-image:url("img/preloader.gif");
}

#submit:hover{
	background-color:#dcf2ff;
	border:1px solid white;
}

.info {
	padding: 5px;
	border: 1px solid #DEDEDE; 
	margin: 5px 0;
	background: #EFEFEF;
	color: #222222;
	text-align: center;
}

.warning {
	padding: 5px;
	border: 1px solid #DEDEDE; 
	margin: 5px 0;      
	background: #FFFFCC;
	color: #222222;
	text-align: center;
}

.success {
	padding: 5px;
	border: 1px solid #349534; 
	margin: 5px 0;      
	background: #C9FFCA;
	color: #008000;
	font-weight: bold;
	text-align: center;
}

.error {
	padding: 5px;
	border: 1px solid #CC0000; 
	margin: 5px 0;      
	background: #F7CBCA;
	color: #CC0000;
	font-weight: bold;
	text-align: center;
}

fieldset { 
	overflow: hidden; 
	margin-bottom: 5px;
	display: inline-block;
	width: 450px;
	border: 0;

}

label { 
	float: left; width: 200px;
}

input {
	width: 200px; 
}

#update {
	width: 70px !important;
}

#status {
	margin-bottom: 20px;
}